################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServerAndMultipleClients/.vs/ServerAndMultipleClients/FileContentIndex
